p {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
}

header {
  height: 100px;
  width: inherit;
  background-color: #fff;
  position: fixed;
  nav {
    height: 100%;
    display: flex;
    float: right;
    a {
      margin: auto 0px;
      padding: 7px 20px;
      border-radius: 5px;
    }
    a:hover {
      transition-duration: 0.2s;
      background-color: #c7c7c7;
    }
    .active {
      background-color: #c7c7c7;
    }
  }
}

.main {
  flex: 1;
  background-color: #c7c7c7;
  #top {
    margin-top: 100px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    .top_left {
      text-align: center;
      img {
        width: 300px;
        height: 300px;
        border-radius: 200px;
        margin: 150px 0;
      }
    }
    .top_right {
      text-align: center;
      h3 {
        margin: 286px 40px;
      }
    }
  }
  #profile {
    height: 600px;
    background-color: #fff;
    .profile_title {
      text-align: center;
      h3 {
        padding: 20px 0;
        margin: 0;
      }
    }
    .profile_contents {
      p {
        line-height: 30px;
      }
    }
  }
  #works {
    height: 600px;
  }
  #skills {
    height: 600px;
    background-color: #fff;
  }
  #contact {
    height: 600px;
  }
  #scroll_up {
    height: 150px;
    background-color: #fff;
    text-align: center;
    font-size: 50px;
  }
}

footer {
  background-color: #e0cece;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
