p {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
}

header {
  height: 100px;
  background-color: #ed6f6f;
  nav {
    height: 100%;
    display: flex;
    float: right;
    button {
      margin: auto 0;
    }
  }
}

.main {
  flex: 1;
  background-color: #c7c7c7;
  height: 500px;
  .top {
    height: 300px;
  }
  .about_me {
    height: 300px;
    background-color: #fff;
  }
  .works {
    height: 300px;
  }
  .skills {
    height: 300px;
    background-color: #fff;
  }
  .sns {
    height: 300px;
  }
  .scroll {
    background-color: #fff;
    text-align: center;
  }
}

footer {
  background-color: #e0cece;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
