@media (max-width: 1100px) {
  .app {
    width: 100%;
    #top {
      .top-left {
        padding: 0;
      }
      .top-right {
        text-align: center;
        h3 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .app {
    flex-direction: unset;
  }
  header {
    height: 100px;
    z-index: 6;
    nav {
      display: none;
    }
    .btn-hamburger {
      display: block;
      text-align: right;
      button {
        padding: 0;
        margin: 29px 20px 0 0;
      }
    }
    .hamburgerMenu {
      position: fixed;
      top: 0;
      right: 0;
      left: 50%;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 5;
      margin-top: 100px;
      .hamburgerMenu-inner {
        height: 100%;
        nav {
          display: block;
          width: 100%;
          a {
            display: block;
            color: #fff;
            margin: 0;
            padding: 0;
            border-radius: 0;
            line-height: 70px;
            font-size: 30px;
            padding-left: 20px;
          }
          a:hover {
            background-color: rgba(0, 0, 0, 0);
          }
          .active {
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }
  .main #top {
    margin-top: 100px;
    height: 900px;
    .top-left {
      padding: 0;
      img {
        width: 150px;
        height: 150px;
        margin: 500px 0 700px 0;
      }
    }
    .top-right h3 {
      padding: 0;
      font-size: 30px;
    }
  }
  .main #profile {
    height: 700px;
    padding-bottom: 50px;
    .profile-header {
      padding: 30px 0 20px 0;
      h3 {
        font-size: 25px;
        padding: 0px;
      }
    }
    .profile-contents p {
      font-size: 20px;
      line-height: 40px;
    }
  }
  .main #works {
    height: auto;
    padding-bottom: 50px;
    .works-header {
      padding: 30px 0 20px 0;
      h3 {
        font-size: 25px;
        padding: 0px;
      }
    }
    .works-contents {
      flex-wrap: wrap;
      .work {
        width: 100%;
        height: auto;
        .work-item {
          display: flex;
          .work-image {
            flex: 0 0 50%;
          }
          .work-contents {
            flex: 0 0 50%;
            h4 {
              font-size: 25px;
              padding-left: 15px;
            }
            p {
              font-size: 20px;
              padding-left: 15px;
            }
          }
        }
        .modal-inner {
          width: 95%;
          top: 20%;
          .modal-header h2 {
            font-size: 40px;
            padding-top: 70px;
          }
          .modal-introduction p {
            width: 80%;
            line-height: 60px;
            font-size: 30px;
            margin: 36px auto;
          }
          .modal-link .modal-link-home,
          .modal-link-github {
            flex: 50% 1;
            font-size: 30px;
          }
          .modal-link-github a {
            padding: 20px 60px;
          }
          .modal-link-home a {
            padding: 20px 65px;
          }
          .modal-close-btn {
            font-size: 30px;
          }
        }
      }
      .work:hover {
        margin-top: 15px;
        background-color: #cfcfcf;
        transition-duration: 0.2s;
      }
    }
  }
  .main #skills {
    height: 500px;
    .skills-header {
      padding: 30px 0 20px 0;
      h3 {
        font-size: 25px;
        padding: 0px;
      }
    }
    .skills-contents {
      height: 400px;
    }
  }
  .main #others {
    height: auto;
    .others-header {
      padding: 30px 0 20px 0;
      h3 {
        font-size: 25px;
        padding: 0px;
      }
    }
    .others-contents {
      padding: 20px 0;
      flex-wrap: wrap;
      height: auto;
      .other {
        max-width: 200px;
        width: 200px;
        height: 150px;
        margin: 0;
        img {
          width: 120px;
          height: 120px;
        }
        img:hover {
          width: 150px;
          height: 150px;
          transition-duration: 0.2s;
        }
      }
    }
  }
  .main #scroll-up {
    height: 300px;
    position: relative;
    .scroll-up-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
      height: 200px;
      width: 200px;
      .fa {
        font-size: 100px;
      }
    }
  }
}
