@media (max-width: 1100px) {
  .app {
    width: 100%;
    #top {
      .top-left {
        padding: 0;
      }
      .top-right {
        text-align: center;
        h3 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .app {
    flex-direction: unset;
    margin: 0;
  }
  header {
    height: 60px;
    z-index: 6;
    nav {
      display: none;
    }
    .btn-hamburger {
      display: block;
      text-align: right;
      button {
        padding: 0;
        margin: 19px 20px 0 0;
      }
    }
    .hamburgerMenu {
      position: fixed;
      top: 0;
      right: 0;
      left: 50%;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 5;
      margin-top: 61px;
      .hamburgerMenu-inner {
        height: 100%;
        nav {
          display: block;
          width: 100%;
          a {
            display: block;
            color: #fff;
            margin: 0;
            padding: 0;
            border-radius: 0;
            line-height: 70px;
            font-size: 15px;
            padding-left: 20px;
          }
          a:hover {
            background-color: rgba(0, 0, 0, 0);
          }
          .active {
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }
  .main #top {
    margin-top: 60px;
    height: 500px;
    justify-content: center;
    .top-left {
      padding: 0;
      margin: 0 14px;
      img {
        width: 100px;
        height: 100px;
        margin: 170px 0 230px 0;
      }
    }
    .top-right h3 {
      padding: 0;
      margin: 208px 0 269px 0;
      font-size: 15px;
    }
  }
  .main #profile {
    height: 450px;
    .profile-header {
      padding: 30px 0 20px 0;
      h3 {
        font-size: 20px;
        padding: 0px;
      }
    }
    .profile-contents {
      padding: 0 20px;
      p {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
  .main #works {
    height: auto;
    padding-bottom: 20px;
    .works-header {
      padding: 30px 0 20px 0;
      h3 {
        font-size: 20px;
        padding: 0px;
      }
    }
    .works-contents {
      flex-wrap: wrap;
      padding: 0 20px;
      .work {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
        .work-item {
          .work-image {
            height: 150px;
            img {
              height: 100%;
            }
          }
          .work-contents {
            margin-top: 10px;
            h4 {
              font-size: 16px;
              padding-left: 20px;
            }
            p {
              font-size: 12px;
              padding-left: 20px;
            }
          }
        }
        .modal-inner {
          width: 95%;
          top: 15%;
          padding-bottom: 20px;
          .modal-header {
            margin: 20px 0 15px 0;
            h2 {
              font-size: 20px;
              padding: 0px;
            }
          }
          .modal-introduction p {
            width: 80%;
            line-height: 20px;
            font-size: 13px;
            margin: 0 auto;
          }
          .modal-link {
            margin: 30px 0;
            .modal-link-home,
            .modal-link-github {
              flex: 50% 1;
              font-size: 13px;
            }
          }
          .modal-link-github a {
            padding: 15px 30px;
          }
          .modal-link-home a {
            padding: 15px 35px;
          }
          .modal-close-btn {
            padding: 10px 35px;
            font-size: 13px;
          }
        }
      }
      .work:hover {
        margin-top: 0px;
        background-color: #cfcfcf;
        transition-duration: 0.2s;
      }
    }
  }
  .main #skills {
    height: 500px;
    .skills-header {
      padding: 30px 0 20px 0;
      h3 {
        font-size: 20px;
        padding: 0px;
      }
    }
    .skills-contents {
      height: 400px;
    }
  }
  .main #others {
    height: auto;
    .others-header {
      padding: 30px 0 20px 0;
      h3 {
        font-size: 20px;
        padding: 0px;
      }
    }
    .others-contents {
      padding: 20px 0;
      flex-wrap: wrap;
      height: auto;
      .other {
        max-width: 150px;
        width: 150px;
        height: 130px;
        margin: 0;
        a {
          line-height: 0;
        }
        img {
          width: 120px;
          height: 120px;
        }
        img:hover {
          width: 150px;
          height: 150px;
          transition-duration: 0.2s;
        }
      }
    }
  }
  .main #scroll-up {
    height: 200px;
    position: relative;
    .scroll-up-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
      height: 200px;
      width: 200px;
      .fa {
        font-size: 100px;
      }
    }
  }
}
